/* bring borders inside box sizing for all elements unless superceded */
* {
   box-sizing: border-box;
}

/* general */
body,
html {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

body {
   font-family: Roboto;
   font-size: .75em;
   color: #424242;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
}

header,
nav,
footer,
section,
article,
div {
   box-sizing: border-box;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.news_more {
   float: right;
   font-size: 1em;
   color: #333;
   text-decoration: none;
}

/* header */
.header {
   box-shadow: 0 .125em .3125em rgba(0, 0, 0, 0.26);
   min-height: 3.5em;
   transition: min-height 0.3s;
}

.header_inner {
   width: 80vw;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
}

.header_logo {
   width: 10%;
   max-width: 148px;
   margin-right: 1em;
   vertical-align: text-bottom;
   margin-top: .5em;
}

.header_title {
   font-weight: 300;
   font-size: 4em;
   vertical-align: baseline;
   display: inline-block;
   color: #212121;
}

/* navigation */

/* hide SlickNav in desktop-first design */
#nav_mobile {
   display: none;
 }

#nav_full {
   width: 80vw;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
}

.nav_list {
   width: 100%;
   padding: 0;
   margin: 0;
}

.nav_item {
   box-sizing: border-box;
   display: inline-block;
   width: 24%;
   text-align: center;
   line-height: 1.5em;
   padding: 1.5em;
   text-transform: uppercase;
}

nav a {
   font-size: 1.5em;
   text-decoration: none;
   color: #616161;
}

nav a:hover {
   text-decoration: underline;
   color: #212121;
}

/* main */
main {
   box-shadow: 0 .1667em .4167em rgba(0, 0, 0, 0.26);
   width: 80vw;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   overflow: auto;
}



/* large dog photo */
.hero {
   float: left;
   width: 60%;
   position: relative;
   background-image: url("./images/grady.jpg");
   background-size: cover;
   height: 25em;
}

/* text overlay on large dog photo */
.hero-description {
   box-sizing: border-box;
   background-color: #000;
   background-color: rgba(0, 0, 0, 0.4);
   position: absolute;
   bottom: 0;
   height: 40%;
   width: 100%;
   color: #fff;
   padding: 1em;
}

/* first area of news items, to the right of .hero */
.top-news {
   float: right;
   width: 40%;
   height: 25em;
   padding: 1em;
   border-bottom: 1px solid #E0E0E0;
}

.news_title {
   font-weight: 300;
   border-bottom: 1px solid #E0E0E0;
   line-height: 2em;
   font-size: 1.5em;
   padding: 1em;
}

.top-news_item {
   border-bottom: 1px solid #E0E0E0;
   padding: 1em 0;
   line-height: 1.2em;
}

.top-news_item:before {
   content: "» ";
}

.top-news_item:last-child {
   border-bottom: none;
}

.top-news_item a {
   text-decoration: none;
   color: #666;
}

.top-news_item a:hover,
.top-news_item a:active {
   text-decoration: underline;
}

/* table */
.table_wrapper {
   width: 60%;
   float: left;
   padding-top: 1em;
   margin-bottom: 1.667em;
}

.table {
   width: 100%;
   border-collapse: collapse;
}

.table th,
.table td {
   padding: 1em;
}

.table th {
   color: #fff;
   font-weight: 300;
   background-color: #78909C;
   text-align: left;
}

.table tr:nth-child(odd) td {
   background-color: #fff;
}

.table tr:nth-child(even) td {
   background-color: #eceff1;
}

/* weather  */
.weather {
   float: right;
   width: 40%;
   padding: 1em;
   text-align: center;
}

.weather_location {
   display: block;
   font-weight: 300;
   font-size: 1.5em;
}

.weather_desc {
   display: block;
   font-size: 1.2em;
}

.weather_today {
   width: 60%;
   vertical-align: middle;
}

.weather_today_image {
   vertical-align: middle;
   width: 100%;
   max-width: 162px;
}

.weather_today_temp {
   font-size: 3em;
}

.weather_today_deg {
   font-size: 2em;
   display: inline;
}

.weather_next_item {
   display: inline-block;
   width: 20%;
   text-align: center;
}

.weather_next_item span {
   display: block;
}

.weather_next_image {
   width: 100%;
   max-width: 64px;
}

/* news .snippets with thumbnail images */
.recent-news {
  clear: both;
}


.snippet {
   clear: both;
   margin: 2em 0;
}

.snippet_thumbnail {
   width: 10%;
   max-width: 120px;
   min-width: 48px;
   float: left;
   margin: 0 1em;
   vertical-align: top;
}

.snippet_title {
   font-weight: 500;
   margin-bottom: 0;
}

.snippet_title a {
   text-decoration: none;
   color: #666;
}

.snippet_title a:hover,
.snippet_title a:active {
   text-decoration: underline;
}

.snippet p {
   margin: 0;
   padding: 0 1em;
}

/* footer */
footer {
   border-top: 1px solid #E0E0E0;
   padding: 1em;
   width: 80vw;
   max-width: 800px;
   margin: 0 auto;
}

footer li {
   display: inline-block;
   margin: 0 .5em;
}

footer a {
   text-decoration: none;
   color: #333;

}



/* *********************************** MEDIA QUERIES *********************************** */

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {

   .header_title {
      font-size: 3.5em;
      margin: .375em .1875em;
   }

   .nav_item {
      box-sizing: border-box;
      display: inline-block;
      width: 24%;
      text-align: center;
      line-height: 1.5em;
      padding: 1.5em;
      text-transform: uppercase;
   }

   article h2 {
      font-size: 1.25em;
   }

  }
 
/* mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
   body {
      width: 95%;
      font-size: .8em;
      margin: 0 auto;
   }

   .hero, .top-news, .recent-news, .table_wrapper, .weather {
      float: none;
      display: block;
      width: 100%;
   }

   .header, main {
      box-shadow: none;
   }

   main, footer, .header_inner {
      width: 95vw;
   }

   .header_title {
      font-size: 3em;
      margin-top: 1em;
      padding-right: .125em;
   }


   /* SlickNav switch & styling */
   #nav_full {
      display: none;
   }

   #nav_mobile {
      display: block;
   }

   .slicknav_menu {
      background-color: #fff !important;
      font-size: .75em;
      margin: 0;
      padding: .5em;
   }

   .slicknav_menu .slicknav_menutxt {
      color: #212121;
      text-shadow: none;
   }

     .slicknav_btn {
      float: left;
      background-color: #fff;
      color: #212121;
      text-shadow: none;

   }

   .slicknav_btn .slicknav_icon {
      background-color: #fff;
      text-shadow: none;
   }

   
  .slicknav_btn .slicknav_icon-bar {
      background-color: #212121;
      box-shadow: 0; 
   }

   .slicknav_nav .nav_list {
      margin-left: 0;
   }

   .slicknav_nav .nav_item {
      padding: 0.5em;
   }

   .slicknav_nav a {
      color: #212121;
      text-align: left;
      font-weight: bold;
   }

}
 
/* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
   .header_title {
      font-size: 2em;
      margin-top: 1em;
      padding-right: .125em;
   }
}